.app{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: auto;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        .left{
            img{
                height: 40px;
            }
        }

        .left:hover{
            cursor: pointer;
        }

        .center{
            width: 50%;

            nav{
                width: 100%;
                display: flex;
                justify-content: space-around;

                a{
                    font-size: 16px;
                }
            }
        }

        .right{
            display: flex;
            align-items: center;
            font-size: 14px;

            button{
                margin-left: 10px;
                padding: 5px 10px;
            }
        }
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        >h2{
            padding: 10px;
        }
        >h1{
            padding: 10px;
            font-size: 30px;
        }

        .options{
            display: flex;
            justify-content: space-around;
            width: 50%;
            margin-bottom: 100px;

            button{
                padding: 10px;
                border-radius: 10px;
                border: 1px solid lightgray;
                background-color: rgb(220, 235, 255);
                transition: background-color 0.25s linear;
            }
            
            button:hover{
                background-color: cornflowerblue;
                color: white;
            }
        }

        .last-issue{
            background-color: rgba(255, 255, 255, 0.623);
            border-radius: 15px;
            border: 1px solid lightblue;
            width: 90%;
            max-width: 800px;
            padding: 10px;
            margin-bottom: 40px;
        }
    }

    .footer{
        margin-top: 100px;
         p{
             font-style: italic;
             color: rgb(78, 78, 78);
             text-align: center;
         }
     }
}